<!DOCTYPE html> 
<html> 
    <head>
              
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bitunix Auto Trading</title> 
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="static/modal.css">
        <link rel="stylesheet" href="static/chart.css">
        <style>
          
            .mainbody { 
                flex: 1; 
                margin-top: 1px; /* Adjust this value according to the height of your header */ 
                margin-bottom: 60px; /* Adjust this value according to the height of your footer */ 
                overflow-y: auto; 
                padding: 1em; 
            } 
        </style> 
    </head> 
    <body>
        <div class="mainbody">
            <div class="row">
                <div id="portfolio"> 
                    Loading portfolio value... 
                </div> 
            </div>
            <div class="container">
                <div class="right">
                    <label for="optionMovingAverage">Moving Average</label>
                    <select disabled id="optionMovingAverage">
                        <option value="1d">Daily</option>
                        <option value="1h">Hourly</option>
                        <option value="15m">15 minutes</option>
                        <option value="5m">5 minutes</option>
                        <option value="1m">1 minutes</option>
                    </select>
                </div>
                <div class="right">
                    <label for="maxAutoTrades">MaxAutoTrades</label>
                    <input disabled type="text" id="maxAutoTrades">
                </div>
                <div class="right">
                    <label for="autoTrade">AutoTrade</label>
                    <input disabled type="checkbox" id="autoTrade" name="AutoTrade">
                </div>
                <div class="right">
                    <label for="totalProfit">Total Profit</label>
                    <div id="totalProfit">...</div>
                </div>
                <div class="left">
                    <label for="tickerDataCycleTime">Ticker Data Last Cycle</label>
                    <div id="tickerDataCycleTime">...</div>
                </div>
                <div class="left">
                    <label for="autoTradeCycleTime">AutoTrade Last Cycle</label>
                    <div id="autoTradeCycleTime">...</div>
                </div>
                <div class="right">
                    <button  id="config">Config</button>
                </div>
             </div>    

             <div id="modal-container-wrapper"></div>

             <span>Positions</span>
             <div class="row">
                <div id="positions"> 
                    Loading positions... 
                </div> 
            </div>
            <span>orders</span>
            <div class="row">
                <div id="orders"> 
                    Loading orders... 
                </div> 
            </div>
            <span>selected signals</span>
            <div class="row">
                <div id="signals"> 
                    Loading signals... 
                </div> 
            </div>
            <span>all signals</span>        
            <div class="row">
                <div id="study"> 
                    Loading signals... 
                </div> 
            </div>
            <span>positionHistory</span>
            <div class="row">
                <div id="positionHistory"> 
                    Loading positionHistory... 
                </div> 
            </div>
        </div>
        <footer>
            <div class="dropdown">
                <!-- <div id="message" class="message" onclick="toggleDropdown()"></div> -->
                <div id="message" class="message"></div>
                <div id="dropdown-content" class="dropdown-content">
                    <!-- Additional messages will be inserted here -->
                </div>
            </div>
        </footer>
       
        <script src="/static/modal.js"></script>
        <script src="/static/script.js"></script>
        <script src="/static/chart.js"></script>
        <script>

            ///////////////////////////////////////////////////////////////////////////////////////////
            //display the main screen with portfoio, positions, order, signals, positionhistory
            ///////////////////////////////////////////////////////////////////////////////////////////

            const host = window.location.hostname;
            const websocket_m = new WebSocket(`ws://${host}:8000/wsmain`);
            websocket_m.onopen = function() {
                document.getElementById('message').innerHTML = "main page webSocket connection opened" 
                //Send a ping every 30 seconds
                setInterval(()=>{
                    if (websocket_m.readyState === WebSocket.OPEN) {
                        websocket_m.send("ping");
                    }
                }, 30000);                 
            }
            
            websocket_m.onmessage = function(event) {
                if (event.data === "pong") {
                    return;
                }               

                const messageElement = JSON.parse(event.data);
                document.getElementById("portfolio").innerHTML = messageElement.dataframes.portfolio;
                document.getElementById("positions").innerHTML = messageElement.dataframes.positions;
                document.getElementById("orders").innerHTML = messageElement.dataframes.orders;                
                document.getElementById("signals").innerHTML = messageElement.dataframes.signals;                
                document.getElementById("study").innerHTML = messageElement.dataframes.study;
                document.getElementById("positionHistory").innerHTML = messageElement.dataframes.positionHistory;
                document.getElementById('message').innerHTML = messageElement.status_messages;

                document.getElementById('totalProfit').innerText = messageElement.profit;
                document.getElementById("autoTradeCycleTime").innerText = messageElement.atctime;
                document.getElementById("tickerDataCycleTime").innerText = messageElement.tdctime;
                const messages = messageElement.status_messages;
                displayNotifications(messages)
            
                const currentTime = new Date();
                if (messageElement.atctime) {
                    const atctime = new Date(messageElement.atctime);
                    const atctime1 = Math.abs(currentTime - atctime) / (1000 * 60);
                    if (atctime1 > 5) {
                        document.getElementById("autoTradeCycleTime").style.color = "red";
                    } else {
                        document.getElementById("autoTradeCycleTime").style.color = "black";
                    }
                }
                if (messageElement.tdctime) {
                    const tdctime = new Date(messageElement.tdctime);                    
                    const tdctime1 = Math.abs(currentTime - tdctime) / (1000 * 60);
                    if (tdctime1 > 5) {
                        document.getElementById("tickerDataCycleTime").style.color = "red";
                    } else {
                        document.getElementById("tickerDataCycleTime").style.color = "black";
                    }
                }
            };
            
            
            websocket_m.onerror = function(error) {
                document.getElementById('message').innerHTML = "main page webSocket connection failed.";
            };
            
            websocket_m.onclose = function() {
                document.getElementById('message').innerHTML = "main page webSocket connection closed.";
            };
            
            
            window.onload = async function() {
                const payload = {element_ids:['autoTrade', 'optionMovingAverage', 'maxAutoTrades']};
                await fetchStates(payload);
            };
            
            document.getElementById("autoTrade").addEventListener('change', async function() {
                const states = {
                    autoTrade: document.getElementById('autoTrade').checked.toString(),
                    optionMovingAverage: document.getElementById('optionMovingAverage').value,
                    profitAmount: document.getElementById('profitAmount').value,
                    lossAmount: document.getElementById('lossAmount').value,
                    maxAutoTrades: document.getElementById('maxAutoTrades').value
                };
                await saveStates(states);
            
                const response = await fetch('/autotrade', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: JSON.stringify({ 'autoTrade': autoTrade })
                });
            });
            

            async function handleChartsButton(symbol) {
                const response = await fetch('/handle_charts_click', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `symbol=${encodeURIComponent(symbol)}`
                });
                const result = await response.json();
                openURL(result.message);
            }

            async function handleBitunixButton(symbol) {
                const response = await fetch('/handle_bitunix_click', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `symbol=${symbol}`
                });
                const result = await response.json();
                openURL(result.message);
            }
            
            async function handleAddButton(symbol,close) {
                let result1 = confirm("Add "+ symbol + " @ " + close.toString());
                if (result1) {
                    const response = await fetch('/handle_add_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&close=${encodeURIComponent(close)}`
                    });
                }
            }
            
            async function handleReduceButton(symbol,positionId,qty,close) {
                let result1 = confirm("Reduce "+ symbol  + " @ " + close.toString());
                if (result1) {
                    const response = await fetch('/handle_reduce_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&positionId=${encodeURIComponent(positionId)}&qty=${encodeURIComponent(qty)}&close=${encodeURIComponent(close)}`
                    });
                }
            }
            
            async function handleBuyButton(symbol,close) {
                let result1 = confirm("Buy "+ symbol + " @ " + close.toString());
                if (result1) {
                    const response = await fetch('/handle_buy_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&close=${encodeURIComponent(close)}`
                    });
                }
            }
            
            async function handleSellButton(symbol,close) {
                let result2 = confirm("Sell "+ symbol + " @ " + close.toString());
                if (result2) {
                    const response = await fetch('/handle_sell_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&close=${encodeURIComponent(close)}`
                    });
                }
            }
            
            async function handleCloseButton(symbol,positionId,qty,unrealizedPNL,realizedPNL) {
                let result3 = confirm("Close Position "+ symbol + " with positionid: " + positionId );
                if (result3) {
                    const response = await fetch('/handle_close_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&positionId=${encodeURIComponent(positionId)}&qty=${encodeURIComponent(qty)}&unrealizedPNL=${encodeURIComponent(unrealizedPNL)}&realizedPNL=${encodeURIComponent(realizedPNL)}`
                    });
                } 
            }
            
            async function handleOrderCloseButton(symbol,orderId) {
                let result3 = confirm("Close Order "+ symbol + " with orderid: " + orderId );
                if (result3) {
                    const response = await fetch('/handle_order_close_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&orderId=${encodeURIComponent(orderId)}`
                    });
                } 
            }
            
            
            async function handleRowClick(name) {
                const response = await fetch('/handle_click', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `name=${name}`
                });
                const result = await response.json();
                openURL(result.message);
            }
            
            
            ///////////////////////////////////////////////////////////////////////////////////////////
            //display config modal window
            ///////////////////////////////////////////////////////////////////////////////////////////
            //open modal config html
            document.getElementById("config").addEventListener('click', () => {
                handleConfigButton();
            });
            
            // Open modal and fetch its content
            async function handleConfigButton() {
                try{
                    // Fetch modal content
                    const modalContainerWrapper = document.getElementById('modal-container-wrapper');                    const modalResponse = await fetch('/config');
                    const modalConfigResponse = await fetch('/config');
                    if (!modalConfigResponse.ok) throw new Error("Failed to fetch config.html");
                    modalContainerWrapper.innerHTML = await modalConfigResponse.text();

                    // Fetch environment variables
                    const configResponse = await fetch('/get-config');
                    if (!configResponse.ok) throw new Error("Failed to fetch config variables");
                    const configVars = await configResponse.json();                
                
                    // initialize modal
                    configModal = initializeModal('modal-container', 'modal-overlay', 'modal', {
                        top : '10%',
                        left : '10%',
                        width : '80%',
                        height : '80%',
                        maxWidth : '80vw',
                        maxHeight : '100vh',
                        allowMove: false,
                        allowResize: false,
                        onClose: () => {}
                    });

                    //open config modal
                    configModal.open()

                    // Populate the table
                    const tbody = document.querySelector('#config-table tbody');
                    if (!tbody) throw new Error("<tbody> element not found");
                    tbody.innerHTML = Object.entries(configVars)
                        .map(([key, value]) =>
                            `<tr class="config-item" data-key="${key}" data-value="${value}">
                                <td>${key}</td>
                                <td>${value}</td>
                            </tr>`
                        )
                        .join('');
            
                    // Add click event listener to each environment variable
                    document.querySelectorAll('.config-item').forEach((item) => {
                        item.addEventListener('click', () => {
                            const key = item.getAttribute('data-key');
                            const value = item.getAttribute('data-value');
                            document.getElementById('key').value = key;
                            document.getElementById('value').value = value;
                        });
                    });
            
                    // Handle save form submission
                    const saveForm = document.getElementById('save-config-form');
                    saveForm.addEventListener('submit', async (e) => {
                        e.preventDefault();
                        const formData = new FormData(saveForm);
                        const saveResponse = await fetch('/save-config', {
                            method: 'POST',
                            body: formData,
                        });
                        const saveResult = await saveResponse.json();
                        alert(saveResult.message);

                        //update variable on the screen
                        const payload = {element_ids:['autoTrade', 'optionMovingAverage', 'maxAutoTrades']};
                        fetchStates(payload);

                        handleConfigButton(); // Reload modal content after saving changes
                    });                    

                } catch (error) {
                    console.error('Error:', error);
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////
            //display logs modal window
            ///////////////////////////////////////////////////////////////////////////////////////////
            document.getElementById("message").addEventListener('click', () => {
                handleMessageArea();
            });
            
            // Open modal and fetch its content
            async function handleMessageArea() {
                try {
                    // Fetch modal content
                    const modalContainerWrapper = document.getElementById('modal-container-wrapper');                    const modalResponse = await fetch('/config');
                    const modalLogsResponse = await fetch('/logs');
                    if (!modalLogsResponse.ok) throw new Error("Failed to fetch log.html");
                    modalContainerWrapper.innerHTML = await modalLogsResponse.text();
            
                    // initialize modal
                    configModal = initializeModal('modal-container', 'modal-overlay', 'modal', {
                        top : '10%',
                        left : '10%',
                        width : '80%',
                        height : '80%',
                        maxWidth : '80vw',
                        maxHeight : '80vh',
                        allowMove: false,
                        allowResize: false,
                        onClose: () => {
                            websocket_l.close();
                        }
                    });

                    //open config modal
                    configModal.open()

                    const logContainer = document.getElementById('log-container');
                    logContainer.innerText = '';  
                    
                    // Open WebSocket connection
                    const websocket_l = new WebSocket(`ws://${host}:8000/wslogs`);

                    websocket_l.onopen = () => {
                        console.log("log WebSocket connection opened.");
                    };

                    websocket_l.onmessage = (event) => {
                        logContainer.innerText += event.data + '\n';  // Append new log
                        logContainer.scrollTop = logContainer.scrollHeight;  // Auto-scroll
                    };

                    websocket_l.onclose = () => {
                        console.log("log WebSocket connection closed.");
                    };


                } catch (error) {
                    console.error('Error:', error);
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////
            //display chart modal window
            ///////////////////////////////////////////////////////////////////////////////////////////

            document.addEventListener('DOMContentLoaded', (event) => { 
                attachTableClickHandlerFunction('positions', 0, handleChart);
                attachTableClickHandlerFunction('orders', 0, handleChart);
                attachTableClickHandlerFunction('signals', 0, handleChart);
                attachTableClickHandlerFunction('study', 0, handleChart);
                attachTableClickHandlerFunction('positionHistory', 0, handleChart);
            });

            // Open modal and fetch its content
            async function handleChart(symbol){
                try {
                    // Fetch modal content
                    const modalContainerWrapper = document.getElementById('modal-container-wrapper');                    const modalResponse = await fetch('/config');
                    const modalChartResponse = await fetch(`/chart?symbol=${encodeURIComponent(symbol)}`);
                    if (!modalChartResponse.ok) throw new Error("Failed to fetch chart.html");
                    modalContainerWrapper.innerHTML = await modalChartResponse.text();
            
                    // initialize modal
                    configModal = initializeModal('modal-container', 'modal-overlay', 'modal', {
                        top : '10%',
                        left : '10%',
                        width : '80%',
                        height : '80%',
                        maxWidth : '80vw',
                        maxHeight : '80vw',
                        allowMove: false,
                        allowResize: false,
                        onClose: () => {
                            websocket_c2.close();
                            delete charts['chart'];
                        }
                    });

                    //open config modal
                    configModal.open()
                    
                    // Open WebSocket connection
                    const websocket_c2 = new WebSocket(`ws://${host}:8000/wschart?ticker=${symbol}`);

                    websocket_c2.onopen = () => {
                        console.log("chart WebSocket connection opened.");
                    };

                    websocket_c2.onmessage = (event) => {
                        const messageElement = JSON.parse(event.data);
                        document.getElementById('symbol').innerHTML = messageElement.symbol;                
                        document.getElementById('close').innerHTML = messageElement.close;   

                        const data = messageElement.chart;
                        const buysell = messageElement.buysell;
                        const period = messageElement.period;
                        const ema_study = messageElement.ema_study;
                        const ema_chart = messageElement.ema_chart;
                        const macd_study = messageElement.macd_study;
                        const macd_chart = messageElement.macd_chart;
                        const bbm_study = messageElement.bbm_study;
                        const bbm_chart = messageElement.bbm_chart;
                        const rsi_study = messageElement.rsi_study;
                        const rsi_chart = messageElement.rsi_chart;
            
                        if (period === '1m' || period === '5m' || period === '15m') {
                            createOrUpdateChart('chart', data, buysell, ema_study, ema_chart, macd_study, macd_chart, bbm_study, bbm_chart, rsi_study, rsi_chart, 'minute'); 
                        } else if (period === '1h') {
                            createOrUpdateChart('chart', data, buysell, ema_study, ema_chart, macd_study, macd_chart, bbm_study, bbm_chart, rsi_study, rsi_chart, 'hour'); 
                        } else if (period === '1d') {
                            createOrUpdateChart('chart', data, buysell, ema_study, ema_chart, macd_study, macd_chart, bbm_study, bbm_chart, rsi_study, rsi_chart, 'day'); 
                        }
                    };

                    websocket_c2.onclose = () => {
                        console.log("chart WebSocket connection closed.");
                    };

                } catch (error) {
                    console.error('Error:', error);
                }
            }
        </script>               
    </body> 
</html>
