<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0">         
        <title>DataFrame Display</title> 
        <link rel="stylesheet" href="static/styles.css">
        <style>
            .mainbody { 
                flex: 1; 
                margin-top: 1px; /* Adjust this value according to the height of your header */ 
                margin-bottom: 60px; /* Adjust this value according to the height of your footer */ 
                overflow-y: auto; 
                padding: 1em; 
            } 
        </style> 
    </head> 
    <body>
        <div class="mainbody">
            <div class="row">
                <div id="portfolio"> 
                    Loading portfolio value... 
                </div> 
            </div>
            <div class="container">
                <div class="right">
                    <label for="optionMovingAverage">Moving Average</label>
                    <select disabled id="optionMovingAverage">
                        <option value="1d">Daily</option>
                        <option value="1h">Hourly</option>
                        <option value="15m">15 minutes</option>
                        <option value="5m">5 minutes</option>
                        <option value="1m">1 minutes</option>
                    </select>
                </div>
                <div class="right">
                    <label for="maxAutoTrades">MaxAutoTrades</label>
                    <input disabled type="text" id="maxAutoTrades">
                </div>
                <div class="right">
                    <label for="autoTrade">AutoTrade</label>
                    <input disabled type="checkbox" id="autoTrade" name="AutoTrade">
                </div>
                <div class="right">
                    <label for="totalProfit">Total Profit</label>
                    <div id="totalProfit">...</div>
                </div>
                <div class="left">
                    <label for="tickerDataCycleTime">Ticker Data Last Cycle</label>
                    <div id="tickerDataCycleTime">...</div>
                </div>
                <div class="left">
                    <label for="autoTradeCycleTime">AutoTrade Last Cycle</label>
                    <div id="autoTradeCycleTime">...</div>
                </div>
                <div class="right">
                    <button  id="config">Config</button>
                </div>
             </div>    

             <div>
                <div id="modal-container"></div>
             </div>

             <span>Positions</span>
             <div class="row">
                <div id="positions"> 
                    Loading positions... 
                </div> 
            </div>
            <span>orders</span>
            <div class="row">
                <div id="orders"> 
                    Loading orders... 
                </div> 
            </div>
            <span>selected signals</span>
            <div class="row">
                <div id="signals"> 
                    Loading signals... 
                </div> 
            </div>
            <span>all signals</span>        
            <div class="row">
                <div id="study"> 
                    Loading signals... 
                </div> 
            </div>
            <span>positionHistory</span>
            <div class="row">
                <div id="positionHistory"> 
                    Loading positionHistory... 
                </div> 
            </div>
        </div>
        <footer>
            <div class="dropdown">
                <div id="message" class="message" onclick="toggleDropdown()"></div>
                <div id="dropdown-content" class="dropdown-content">
                    <!-- Additional messages will be inserted here -->
                </div>
            </div>
        </footer>
       
        <script src="/static/script.js"></script>
        <script>
            const host = window.location.hostname;
            const websocket_m = new WebSocket(`ws://${host}:8000/wsmain`);
            websocket_m.onopen = function() {
                document.getElementById('message').innerHTML = "main page webSocket connection opened" 
                //Send a ping every 30 seconds
                setInterval(()=>{
                    if (websocket_m.readyState === WebSocket.OPEN) {
                        websocket_m.send("ping");
                    }
                }, 30000);                 
            }
            
            websocket_m.onmessage = function(event) {
                if (event.data === "pong") {
                    return;
                }               
                const messageElement = JSON.parse(event.data);
                document.getElementById("portfolio").innerHTML = messageElement.dataframes.portfolio;
                document.getElementById("positions").innerHTML = messageElement.dataframes.positions;
                document.getElementById("orders").innerHTML = messageElement.dataframes.orders;                
                document.getElementById("signals").innerHTML = messageElement.dataframes.signals;                
                document.getElementById("study").innerHTML = messageElement.dataframes.study;
                document.getElementById("positionHistory").innerHTML = messageElement.dataframes.positionHistory;
                document.getElementById('message').innerHTML = messageElement.status_messages;

                document.getElementById('optionMovingAverage').value = messageElement.optionMovingAverage;
                document.getElementById('maxAutoTrades').value = messageElement.maxAutoTrades;
                document.getElementById('autoTrade').checked = messageElement.autoTrade; 
                const payload = {element_ids:['autoTrade', 'optionMovingAverage', 'maxAutoTrades']};
                fetchStates(payload);

                document.getElementById('totalProfit').innerText = messageElement.profit;
                document.getElementById("autoTradeCycleTime").innerText = messageElement.atctime;
                document.getElementById("tickerDataCycleTime").innerText = messageElement.tdctime;
                const messages = messageElement.status_messages;
                displayNotifications(messages)
            
                const currentTime = new Date();
                const atctime1 = Math.abs(currentTime - messageElement.atctime) / (1000 * 60);
                if (atctime1 > 5) {
                    document.getElementById("autoTradeCycleTime").style.color = "red";
                    } else {
                    document.getElementById("autoTradeCycleTime").style.color = "black";
                }
                const tdctime1 = Math.abs(currentTime - messageElement.tdctime) / (1000 * 60);
                if (tdctime1 > 5) {
                    document.getElementById("tickerDataCycleTime").style.color = "red";
                    } else {
                    document.getElementById("tickerDataCycleTime").style.color = "black";
                }
            };
            
            
            websocket_m.onerror = function(error) {
                document.getElementById('message').innerHTML = "main page webSocket connection failed.";
            };
            
            websocket_m.onclose = function() {
                document.getElementById('message').innerHTML = "main page webSocket connection closed.";
            };
            
            
            window.onload = async function() {
                const payload = {element_ids:['autoTrade', 'optionMovingAverage', 'maxAutoTrades']};
                await fetchStates(payload);
            };
            
            document.getElementById("autoTrade").addEventListener('change', async function() {
                const states = {
                    autoTrade: document.getElementById('autoTrade').checked.toString(),
                    optionMovingAverage: document.getElementById('optionMovingAverage').value,
                    profitAmount: document.getElementById('profitAmount').value,
                    lossAmount: document.getElementById('lossAmount').value,
                    maxAutoTrades: document.getElementById('maxAutoTrades').value
                };
                await saveStates(states);
            
                const response = await fetch('/autotrade', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: JSON.stringify({ 'autoTrade': autoTrade })
                });
            });
            
            
            //modal container    
            const modalContainer = document.getElementById('modal-container');
            
            //open modal html
            document.getElementById("config").addEventListener('click', () => {
                handleConfigButton();
            });
            
            // Open modal and fetch its content
            async function handleConfigButton() {
                try {
                    // Fetch modal content
                    const modalResponse = await fetch('/config');
                    if (!modalResponse.ok) throw new Error("Failed to fetch config.html");
                    modalContainer.innerHTML = await modalResponse.text();
            
                    // Show the modal
                    const modal = document.getElementById('modal');
                    const modalOverlay = document.getElementById('modal-overlay');
                    modal.classList.add('modal-open');
                    modalOverlay.classList.add('modal-open');
            
                    // Fetch environment variables
                    const envResponse = await fetch('/get-env');
                    if (!envResponse.ok) throw new Error("Failed to fetch environment variables");
                    const envVars = await envResponse.json();
            
                    // Populate the table
                    const tbody = document.querySelector('#env-table tbody');
                    if (!tbody) throw new Error("<tbody> element not found");
                    tbody.innerHTML = Object.entries(envVars)
                        .map(([key, value]) =>
                            `<tr class="env-item" data-key="${key}" data-value="${value}">
                                <td>${key}</td>
                                <td>${value}</td>
                            </tr>`
                        )
                        .join('');
            
                    // Add click event listener to each environment variable
                    document.querySelectorAll('.env-item').forEach((item) => {
                        item.addEventListener('click', () => {
                            const key = item.getAttribute('data-key');
                            const value = item.getAttribute('data-value');
                            document.getElementById('key').value = key;
                            document.getElementById('value').value = value;
                        });
                    });
            
                    // Close modal logic
                    const closeModalButton = document.getElementById('close-modal');
                    closeModalButton.addEventListener('click', () => {
                        modal.classList.remove('modal-open');
                        modalOverlay.classList.remove('modal-open');
                    });
            
                    // Handle save form submission
                    const saveForm = document.getElementById('save-env-form');
                    saveForm.addEventListener('submit', async (e) => {
                        e.preventDefault();
                        const formData = new FormData(saveForm);
                        const saveResponse = await fetch('/save-env', {
                            method: 'POST',
                            body: formData,
                        });
                        const saveResult = await saveResponse.json();
                        alert(saveResult.message);
                        handleConfigButton(); // Reload modal content after saving changes
                    });
                } catch (error) {
                    console.error('Error:', error);
                }
            }

            async function handleBitunixButton(symbol) {
                const response = await fetch('/handle_bitunix_click', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `symbol=${symbol}`
                });
                const result = await response.json();
                openURL(result.message);
            }
            
            async function handleAddButton(symbol,close) {
                let result1 = confirm("Add "+ symbol + " @ " + close.toString());
                if (result1) {
                    const response = await fetch('/handle_add_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&close=${encodeURIComponent(close)}`
                    });
                }
            }
            
            async function handleReduceButton(symbol,positionId,qty,close) {
                let result1 = confirm("Reduce "+ symbol  + " @ " + close.toString());
                if (result1) {
                    const response = await fetch('/handle_reduce_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&positionId=${encodeURIComponent(positionId)}&qty=${encodeURIComponent(qty)}&close=${encodeURIComponent(close)}`
                    });
                }
            }
            
            async function handleBuyButton(symbol,close) {
                let result1 = confirm("Buy "+ symbol + " @ " + close.toString());
                if (result1) {
                    const response = await fetch('/handle_buy_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&close=${encodeURIComponent(close)}`
                    });
                }
            }
            
            async function handleSellButton(symbol,close) {
                let result2 = confirm("Sell "+ symbol + " @ " + close.toString());
                if (result2) {
                    const response = await fetch('/handle_sell_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&close=${encodeURIComponent(close)}`
                    });
                }
            }
            
            async function handleCloseButton(symbol,positionId,qty,unrealizedPNL,realizedPNL) {
                let result3 = confirm("Close Position "+ symbol + " with positionid: " + positionId );
                if (result3) {
                    const response = await fetch('/handle_close_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&positionId=${encodeURIComponent(positionId)}&qty=${encodeURIComponent(qty)}&unrealizedPNL=${encodeURIComponent(unrealizedPNL)}&realizedPNL=${encodeURIComponent(realizedPNL)}`
                    });
                } 
            }
            
            async function handleOrderCloseButton(symbol,orderId) {
                let result3 = confirm("Close Order "+ symbol + " with orderid: " + orderId );
                if (result3) {
                    const response = await fetch('/handle_order_close_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&orderId=${encodeURIComponent(orderId)}`
                    });
                } 
            }
            
            
            async function handleRowClick(name) {
                const response = await fetch('/handle_click', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `name=${name}`
                });
                const result = await response.json();
                openURL(result.message);
            }
            
            
            document.addEventListener('DOMContentLoaded', (event) => { 
                attachTableClickHandler('positions', 0, '/get_charts');
                attachTableClickHandler('orders', 0, '/get_charts');
                attachTableClickHandler('signals', 0, '/get_charts');
                attachTableClickHandler('study', 0, '/get_charts');
                attachTableClickHandler('positionHistory', 0, '/get_charts');
            });
            
        </script>               
    </body> 
</html>
