<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0">         
        <title>DataFrame Display</title> 
        <style> 
            body { margin: 0; display: flex; flex-direction: column; height: 100vh; } 
            header { background: #f8f9fa; padding: 1em; text-align: center; position: fixed; top: 0; width: 100%; z-index: 1; } 
            footer { background: #f8f9fa; padding: 1em; text-align: center; position: fixed; bottom: 0; width: 100%; z-index: 1; } 
            .mainbody { flex: 1; margin-top: 1px; /* Adjust this value according to the height of your header */ margin-bottom: 60px; /* Adjust this value according to the height of your footer */ overflow-y: auto; padding: 1em; }              
            
            .dataframe { font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; width: 100%; } 
            .dataframe td, .dataframe th { border: 1px solid #ddd; padding: 8px; } 
            .dataframe tr:nth-child(even) { background-color: #f2f2f2; } 
            .dataframe tr:hover { background-color: #ddd; } 
            .dataframe th { padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #515a5a ; color: white; } 
            .row {display: block; margin-bottom: 10px; border: 2px solid black; padding: 10px; }
            #info { height: 40px; position: fixed; bottom:0%; width:100%; background-color: #f8f6f5; opacity: 1; }

            .container {display: flex;justify-content: space-between;}
            .left, .right {width: 45%; padding: 10px; border: 1px solid black;}
            
            .message {background-color: #3a4141 ; color: white; padding: 16px; font-size: 16px; border: none; cursor: pointer;}
            .dropdown-content { display: none; position: absolute; background-color: #f9f9f9; min-width: 250px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; }
            .dropdown-content div { color: black; padding: 12px 16px; text-decoration: none; display: block; }
            .dropdown-content div:hover { background-color: #f1f1f1; }
            .show { display: block; }
        </style> 
    </head> 
    <body>
        <div class="mainbody">
            <div class="row">
                <div id="portfolio"> 
                    Loading portfolio value... 
                </div> 
            </div>
            <div class="container">
                <div class="right">
                    <label for="optionMovingAverage">Moving Average</label>
                    <select id="optionMovingAverage">
                        <option value="1d">Daily</option>
                        <option value="1h">Hourly</option>
                        <option value="15m">15 minutes</option>
                        <option value="5m">5 minutes</option>
                        <option value="1m">1 minutes</option>
                    </select>
                </div>
                <div class="right">
                    <label for="maxAutoTrades">MaxAutoTrades</label>
                    <input type="text" id="maxAutoTrades">
                </div>
                <div class="right">
                    <label for="profitAmount">Take Profit</label>
                    <input type="text" id="profitAmount">
                </div>
                <div class="right">
                    <label for="lossAmount">Take Loss</label>
                    <input type="text" id="lossAmount">
                </div>
                <div class="right">
                    <label for="autoTrade">AutoTrade</label>
                    <input type="checkbox" id="autoTrade" name="AutoTrade">
                </div>
                <div class="right">
                    <label for="totalProfit">Total Profit</label>
                    <div id="totalProfit">...</div>
                </div>
                <div class="left">
                    <div id="autoTradeCycleTime">...</div>
                </div>
                <div class="right">
                    <button disabled id="notused">Not Used</button>
                </div>
             </div>        
             <span>Positions</span>
             <div class="row">
                <div id="positions"> 
                    Loading positions... 
                </div> 
            </div>
            <span>orders</span>
            <div class="row">
                <div id="orders"> 
                    Loading orders... 
                </div> 
            </div>
            <span>signals</span>
            <div class="row">
                <div id="signals"> 
                    Loading signals... 
                </div> 
            </div>
            <span>trades</span>
            <div class="row">
                <div id="trades"> 
                    Loading trades... 
                </div> 
            </div>
        </div>
        <footer>
            <div class="dropdown">
                <div id="message" class="message" onclick="toggleDropdown()"></div>
                <div id="dropdown-content" class="dropdown-content">
                    <!-- Additional messages will be inserted here -->
                </div>
            </div>
        </footer>
       
        <script>
            const host = window.location.hostname;
            const websocket_m = new WebSocket(`ws://${host}:8000/wsmain`);
            websocket_m.onopen = function() {
                document.getElementById('message').innerHTML = "main page webSocket connection opened" 
            }
            
            websocket_m.onmessage = function(event) {
                const messageElement = JSON.parse(event.data);
                document.getElementById("portfolio").innerHTML = messageElement.dataframes.portfolio;
                document.getElementById("positions").innerHTML = messageElement.dataframes.positions;
                document.getElementById("orders").innerHTML = messageElement.dataframes.orders;                
                document.getElementById("signals").innerHTML = messageElement.dataframes.signals;                
                document.getElementById("trades").innerHTML = messageElement.dataframes.trades;
                document.getElementById('message').innerHTML = messageElement.status_messages;
                document.getElementById('totalProfit').innerText = messageElement.profit;
                document.getElementById("autoTradeCycleTime").innerText = messageElement.stime;
                const messages = messageElement.status_messages;
                displayNotifications(messages)
            };


            websocket_m.onerror = function(error) {
                document.getElementById('message').innerHTML = "main page webSocket connection failed.";
            };

            websocket_m.onclose = function() {
                document.getElementById('message').innerHTML = "main page webSocket connection closed.";
            };
        

            window.onload = async function() {
                const payload = {element_ids:['autoTrade', 'optionMovingAverage','profitAmount' ,'lossAmount', 'maxAutoTrades']};
                await fetchStates(payload);
            };

            // Batch Fetch State from Server
            async function fetchStates(payload) {
                // Send a POST request to /get_states with the list of element IDs
                const response = await fetch('/get_states', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(payload), // Pass element IDs in the request body
                });

                // Parse the JSON response
                data = await response.json();

                // Iterate over the states and update the UI elements accordingly
                for (const elementId of payload.element_ids) {
                    const state = data.states[elementId] || "No state found";

                    if (state !== "No state found") {
                        const element = document.getElementById(elementId);
                        if (element) {
                            if (element.type === 'checkbox') {
                                element.checked = (state.toString().toLowerCase() === "true");
                            } else if (element.tagName === 'SELECT' || element.tagName === 'INPUT') {
                                element.value = state;
                            }
                        }
                    }
                }
            }

            document.getElementById("autoTrade").addEventListener('change', async function() {
                const states = {
                    autoTrade: document.getElementById('autoTrade').checked.toString(),
                    optionMovingAverage: document.getElementById('optionMovingAverage').value,
                    profitAmount: document.getElementById('profitAmount').value,
                    lossAmount: document.getElementById('lossAmount').value,
                    maxAutoTrades: document.getElementById('maxAutoTrades').value
                };
                await saveStates(states);

                const response = await fetch('/autotrade', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: JSON.stringify({ 'autoTrade': autoTrade })
                });
            });

            // Batch Save State to Server
            async function saveStates(states) {
                let response, data;

                // Send a POST request to /save_states with the states object
                response = await fetch('/save_states', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(states), // Pass the states as a JSON object
                });

                // Parse the response
                data = await response.json();

                // Log the server's response
                console.log(data.message); // Should print "States saved" if successful
            }

            async function handleBitunixButton(symbol) {
                const response = await fetch('/handle_bitunix_click', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `symbol=${symbol}`
                });
                const result = await response.json();
                openURL(result.message);
            }

            //document.getElementById("reload").addEventListener('click', () => {
            //    handleReloadButton();
            //});

            async function handleReloadButton() {
                const response = await fetch('/reload', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `name=${name}`
                });
            }

            document.getElementById("trades").addEventListener('click', () => {
                handleTradesButton();
            });

            async function handleTradesButton() {
                const response = await fetch('/get_trades', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `name=${name}`
                });
                const result = await response.json();
                openURL(result.message);
            }

            async function handleAddButton(symbol,close) {
                let result1 = confirm("Add "+ symbol + " @ " + close.toString());
                if (result1) {
                    const response = await fetch('/handle_add_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&close=${encodeURIComponent(close)}`
                    });
                }
            }

            async function handleReduceButton(symbol,positionId,qty,close) {
                let result1 = confirm("Reduce "+ symbol  + " @ " + close.toString());
                if (result1) {
                    const response = await fetch('/handle_reduce_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&positionId=${encodeURIComponent(positionId)}&qty=${encodeURIComponent(qty)}&close=${encodeURIComponent(close)}`
                    });
                }
            }

            async function handleBuyButton(symbol,close) {
                let result1 = confirm("Buy "+ symbol + " @ " + close.toString());
                if (result1) {
                    const response = await fetch('/handle_buy_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&close=${encodeURIComponent(close)}`
                    });
                }
            }

            async function handleSellButton(symbol,close) {
                let result2 = confirm("Sell "+ symbol + " @ " + close.toString());
                if (result2) {
                    const response = await fetch('/handle_sell_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&close=${encodeURIComponent(close)}`
                    });
                }
            }

            async function handleCloseButton(symbol,positionId,qty,unrealizedPNL,realizedPNL) {
                let result3 = confirm("Close Position "+ symbol + " with positionid: " + positionId );
                if (result3) {
                    const response = await fetch('/handle_close_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&positionId=${encodeURIComponent(positionId)}&qty=${encodeURIComponent(qty)}&unrealizedPNL=${encodeURIComponent(unrealizedPNL)}&realizedPNL=${encodeURIComponent(realizedPNL)}`
                    });
                } 
            }

            async function handleOrderCloseButton(symbol,orderId) {
                let result3 = confirm("Close Order "+ symbol + " with orderid: " + orderId );
                if (result3) {
                    const response = await fetch('/handle_order_close_click', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: `symbol=${encodeURIComponent(symbol)}&orderId=${encodeURIComponent(orderId)}`
                    });
                } 
            }

  
            async function handleRowClick(name) {
                const response = await fetch('/handle_click', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `name=${name}`
                });
                const result = await response.json();
                openURL(result.message);
            }
            
    
            function openURL(url) { 
                window.location.href = url; 
            } 
            
            document.addEventListener('DOMContentLoaded', (event) => { 
                const table = document.getElementById('signals'); 
                table.addEventListener('click', async (event) => { 
                    const target = event.target; 
                    const columnIndex = target.cellIndex; 
                    if (target.tagName === 'TD' && (columnIndex === 0) ) { 
                        const row = target.parentNode
                        const headerCell = target.closest('table').querySelector(`thead tr th:nth-child(${columnIndex + 1})`); 
                        const columnName = headerCell.innerText;                        
                        const response = await fetch('/get_charts', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: `symbol=${row.cells[0].innerText}`
                        });
                        const result = await response.json();
                        openURL(result.message);
                    } 
                }); 
                const table2 = document.getElementById('positions'); 
                table2.addEventListener('click', async (event) => { 
                    const target2 = event.target; 
                    const columnIndex2 = target2.cellIndex; 
                    if (target2.tagName === 'TD' && (columnIndex2 === 0)) { 
                        const row2 = target2.parentNode
                        const headerCell2 = target2.closest('table').querySelector(`thead tr th:nth-child(${columnIndex2 + 1})`); 
                        const columnName2 = headerCell2.innerText;                        
                        const response = await fetch('/get_charts', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: `symbol=${row2.cells[0].innerText}`
                        });
                        const result = await response.json();
                        openURL(result.message);
                    } 
                }); 
                const table3 = document.getElementById('orders'); 
                table3.addEventListener('click', async (event) => { 
                    const target3 = event.target; 
                    const columnIndex3 = target3.cellIndex; 
                    if (target3.tagName === 'TD' && (columnIndex3 === 1)) { 
                        const row3 = target3.parentNode
                        const headerCell3 = target3.closest('table').querySelector(`thead tr th:nth-child(${columnIndex3 + 1})`); 
                        const columnName3 = headerCell3.innerText;                        
                        const response = await fetch('/get_charts', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: `symbol=${row3.cells[1].innerText}`
                        });
                        const result = await response.json();
                        openURL(result.message);
                    } 
                });
                const table4 = document.getElementById('trades'); 
                table4.addEventListener('click', async (event) => { 
                    const target4 = event.target; 
                    const columnIndex4 = target.cellIndex; 
                    if (target4.tagName === 'TD' && columnIndex4 === 0) { 
                        const row = target4.parentNode;
                        const headerCell = target4.closest('table4').querySelector(`thead tr th:nth-child(${columnIndex4 + 1})`); 
                        const columnName = headerCell.innerText;                        
                        const response = await fetch('/get_charts', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: `symbol=${row.cells[0].innerText}`
                        });
                        const result = await response.json();
                        openURL(result.message);
                    } 
                });

            });

            //will not use this for now 
            function updatePositionsTable(divid, data) {
                const tableContainer = document.getElementById(divid);
                const table = tableContainer.querySelector('table');
                const rows = table.querySelectorAll('tbody tr');
                const headers = table.querySelectorAll('thead th');
                
                let bidIndex, lastIndex, askIndex;
                headers.forEach((header, index) => {
                  if (header.textContent === 'bid') {
                    bidIndex = index;
                  } else if (header.textContent === 'last') {
                    lastIndex = index;
                  } else if (header.textContent === 'ask') {
                    askIndex = index;
                  }
                });

                rows.forEach(row => {
                  const ticker = row.querySelector('td').textContent;
                  const tickerData = data.find(item => item.ticker === ticker);
                  if (tickerData) {
                    const bidCell = row.children[bidIndex];
                    bidCell.textContent = tickerData.bid;
                    bidCell.style.backgroundColor  = tickerData.bidcolor;

                    const lastCell = row.children[lastIndex];
                    lastCell.textContent = tickerData.last;
                    lastCell.style.backgroundColor  = tickerData.lastcolor;

                    const askCell = row.children[askIndex];
                    askCell.textContent = tickerData.ask;
                    askCell.style.backgroundColor  = tickerData.askcolor;
                  }
                });
            }

            function toggleDropdown() {
                const dropdownContent = document.getElementById("dropdown-content");
                dropdownContent.classList.toggle("show");
            
                // Adjust the position if the dropdown is near the bottom of the viewport
                const rect = dropdownContent.getBoundingClientRect();
                if (rect.bottom > window.innerHeight) {
                    dropdownContent.style.top = `-${rect.height}px`;
                } else {
                    dropdownContent.style.top = '100%';
                }
            }

            function displayNotifications(messages) {
                const lastMessage = document.getElementById("message");
                const dropdownContent = document.getElementById("dropdown-content");
            
                // Display the last message
                lastMessage.textContent = messages[0];
                // Display the rest of the messages in the dropdown
                dropdownContent.innerHTML = '';
                messages.slice(0).reverse().forEach(message => {
                    const div = document.createElement("div");
                    div.textContent = message;
                    dropdownContent.appendChild(div);
                });
            }

            //for future use
            function addRowClickEvents() {
                const rows = document.querySelectorAll('.dataframe tbody tr');
                rows.forEach(row => {
                    row.addEventListener('click', () => {
                        const name = row.querySelector('th').innerText;
                        handleRowClick(name);
                    });
                });
            }

        </script>
    </body> 
</html>
